<div class="row-fluid">
  
  <div class="span12">  
    <span>
	<ul class="breadcrumb">
            <li><a href="/#/path/{{saryear}}/{{element}}">องค์ประกอบที่ 1</a> <span class="divider">/</span></li>
            <li> หลักฐาน <span class="divider">/ </span> </li>
	</ul>
    </span>
  
    <iframe id="upload_target" 
	name="upload_target" 
	style="width:0;height:0;border:0px solid #fff;"> 
    </iframe>
    
       
	
    <legend>Upload เอกสาร</legend>
    <label>ชื่อเอกสาร</label>
	<div class="controls">
	    <input class="span5" type="text" placeholder="กรอกชื่อเอกสาร" ng-model="title">
	</div>
    </label>
    <form id="file_upload_form" method="post" enctype="multipart/form-data" action="/sar/upload" target="upload_target" class="form-horizontal">            
	<input type="hidden" name="year"  value="{{saryear}}">
	<input type="hidden" name="element" value="{{element}}">
	<input type="hidden" name="type" value="{{type}}">
	<input type="hidden" name="item" value="{{item}}">    
	<input type="hidden" name="title" value="{{title}}">    
      
    <span class="btn btn-success fileinput-button">
	<i class="icon-plus icon-white"></i>
	<span>Select File</span>
	<input type="file" name="file" id="file" onchange="angular.element(this).scope().setFile(this)"/>
    </span>
    
    <button type="submit" class="btn btn-primary start">
	<i class="icon-upload icon-white"></i>
	<span>Start Upload</span>
    </button>                
        
    </form>
    
 {{saryear}}/{{element}}/{{type}}/{{item}}
    <ul>
	<li ng-repeat="file in file_item.files">{{file.filename}} </li>
    </ul>

  
    <span>
	<span ng-show="theFile">
	    <i class="icon-file"></i>
	    {{theFile.name}}
	</span>    
	<span ng-switch on="success" >
	    <span ng-switch-when="true">
		<i class="icon-ok"></i>
	    </span>
	    <span ng-switch-when="false">
		<i class="icon-info-sign"></i>
		{{message}}
	    </span>  
	    <span ng-switch-default></span>              
	</span>
    </span>    
</div>
